{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
            {{ post.published_date }}

        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span
                class="glyphicon glyphicon-remove"></span></a>
        </div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>

    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}

        {#    {% if user.is_authenticated or comment.approved_comment %}#}
        {% if comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% elif not comment.approved_comment  and user.is_superuser %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}

                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span
                            class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span
                            class="glyphicon glyphicon-ok"></span></a>
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% elif not comment.approved_comment  and user.username == comment.author %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    <p class="text-danger">等待审核</p>
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>

            </div>

        {% endif %}

    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}